doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/files/css/normalize.css')
		link(rel='stylesheet', href='/files/css/main.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
		script(type='text/javascript' src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
		script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
		script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
	body
	block content